[alias]
  # The most common Git aliases are defined in .bash_profile (they are shorter)

  # Delete any branches that have been merged into master
  delete-merged-branches = "!git checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[user]
  # Git user details
  name = Igor Springer
  email = springerigor@gmail.com

[core]
  # Create commit message in Atom editor
  # -w` flag force Git to wait for the commit message
  editor = code --wait
  ignorecase = true

[branch]
  # Set up git pull to do a rebase instead of merge
  autosetuprebase = always

[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto

[grep]
  lineNumber = true
  extendedRegexp = true

[push]
  # Push current branch even if you've never pushed it before
	default = current

[gpg]
	program = gpg

[commit]
  # Do not sign commits with GPG
	gpgsign = false
  # Display diff when creating commit message
  verbose = true

[init]
	templateDir = /Users/igor/.git/hooks
